### 这里是机器人相关的一些设置选项，会包含一些敏感信息，请妥善保管
### 引号会被 Docker 作为其本身处理，所以不要加引号

# 电话号码的国家/地区前缀，比如说中国就是 86，前面不要有加号
BOT_PHONE_PREFIX=
# 电话号码
BOT_PHONE=
# 密码
BOT_PASSWORD=
# 语音频道的邀请链接
BOT_VOICECHAN_LINK=
# Selenium 运行的 Chrome 所用到的额外参数。已有的参数请不要在不清楚作用的情况下删改。
BOT_SELENIUM_ADDITIONAL_ARGS=--use-fake-ui-for-media-stream --mute-audio --headless --disable-gpu
